%meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
%body.share-page
  .card
    .video-container
      .overlay{:style => "z-index: 2; position: absolute;top: 0; height: 100%; width: 100%;"}
      %a.mute-button.off{:href => "#"}
      %video#post.video-js.vjs-default-skin{:autobuffer => "", :loop => "", :poster => @vine.thumbnailUrl, :preload => "auto", "x-webkit-airplay" => "allow"}
        %source{:src => @vine.videoUrl, :type => "video/mp4"}
    .info
      .user
        %img.avatar{:src => @vine.avatarUrl}
          %h2= @vine.username
      %h1
        .inner
          %p= @vine.description
      .shot-with-vine
        %img{:height => "30", :src => "https://d3422saexnbpnl.cloudfront.net/static/images/shot_with_vine.png", :width => "171"}
          %a.action-button{:href => "https://get.vine.co"} Download App
