%body.share-page
  .card
    .video-container
      .overlay
      #container
        %video#video{autoplay: "", loop: "", muted: "", poster: @post.thumbnail_url, preload: "auto"}
          %source{src: @post.reversed_video_url || @post.video_url, type: "video/mp4"}
      %a.mute-button.on{href: "#"}
    .info
      .info-container
        .avatar-container
          %img.avatar{src: @post.user.avatar_url}/
        %p.username= @post.user.username
        %p.description= @post.description
        - if @post.reversed_video_url.nil?
          %h2 Enivizing...
        %p.post-metadata
          %span.timestamp
  .shot-with-vine
    %span Made with
    %a{href: "http://eniv.co"}
      / = image_tag 'eniv_logo'
    %a.app-button{href: "https://get.vine.co"} Download Vine
