//= require videojs/video-js

@font-face {
    font-family: "Verse Sans";
    src:    url('fonts/VerseSans-Regular.eot?') format('eot');
    src:    url('fonts/VerseSans-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "Verse Sans";
    src:    url('fonts/VerseSans-Light.eot?') format('eot');
    src:    url('fonts/VerseSans-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Verse Sans";
    src:    url('fonts/VerseSans-Medium.eot?') format('eot');
    src:    url('fonts/VerseSans-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "Verse Sans";
    src:    url('fonts/VerseSans-Semibold.eot?') format('eot');
    src:    url('fonts/VerseSans-Semibold.woff') format('woff');
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0083b4;
    font-weight: bold;
}

body {
    font-family: "Verse Sans", Helvetica, Arial, sans-serif;
}

img.download-button {
    width: 206px;
    height: 60px;
}

fieldset {
    border: none;
    padding: 10px 0 10px 0;
}

input:focus {
    outline-width: 0;
}

input.textfield {
    width: 276px;
    font-size: 24px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px 1px 1px 1px;
    border-color: #D7D6D1;
    padding: 5px 10px 5px 10px;
}

input.password {
    padding-left: 35px;
    width: 231px;
    background: #fff url(images/lock_icon.png) no-repeat 10px;
}

.v-center-container {
    display: table;
}

.v-center {
    display: table-cell;
    vertical-align: middle;
}

.action-button {
    -webkit-appearance: none;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    background-color: #00AC7F;
    display: inline-block;
    padding: 10px 35px;
    border-width: 1px 1px 4px 1px;
    border-style: solid;
    border-color: #007f5b;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    behavior: url(PIE.htc);
}

.action-button:hover {
    background-color: #1dc094;
    border-color: #007f5b;
}

.action-button:active {
    background-color: #009B76;
    border-width: 3px 1px 1px 1px;
    margin-top: 11px;
    -moz-box-shadow: none;
    box-shadow: none;
}

.www-page {
    border-top: 10px solid #00AC7F;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #3333332;
}

.www-page address {
    margin: 20px 0 0 0;
}

.www-page .container {
    width: 780px;
    margin: 0 auto;
}

.www-page .legal {
    padding-bottom: 15px;
}

.www-page .legal h1,
.www-page .legal h2,
.www-page .legal h3 {
    margin-top: 20px;
}

.www-page .legal ul {
    padding: 20px 0 0 20px; 
        margin-bottom: 20px;
}

.www-page .legal ul {
}

.www-page .legal li.major {
        padding-left: 5px;
        margin-bottom: 20px;
}


.www-page h1, .www-page h2, .www-page h3 {
    font-family: "Verse Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.www-page h1 {
    font-size: 32px;
    margin: 0 0 10px 0;
}

.www-page h2 {
    font-size: 24px;
    margin: 30px 0 30px 0;
}

.www-page h2.separator {
    border-top: 1px solid #eeeeed;
    margin: 30px 0 0 0;
    padding: 15px 0 0 0;
}

.www-page p {
    margin: 20px 0 0 0;
    line-height: 24px;
}

.www-page nav {
    width: 160px;
    padding: 20px 0 0 0;
    float: left;
}

.www-page nav .logo {
    display: block;
    margin: 20px 0 20px 0;
}

.www-page nav ul {
    list-style: none;
}

.www-page nav ul li {
    margin: 0;
}

.www-page nav ul li a {
    padding: 0 0 14px 20px;
    font-weight: normal;
    display: block;
    color: #999996;
    width: 70px;
}

.www-page nav ul li a:hover {
    color: #333332;
}

.www-page nav.blog ul li a.blog, .www-page nav.help ul li a.help, .www-page nav.jobs ul li a.jobs {
    color: #333332;
    font-weight: bold;
}

.www-page #content {
    padding: 40px 0 40px 0;
    width: 620px;
    float: left
}

footer {
    clear: left;
    display: block;
    text-align: center;
    padding: 20px 0 20px 0;
    border-top: 1px solid #eeeeed;
    height: 18px;
}

.teaser-page footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    outline: 5px solid rgba(0, 0, 0, 0.1);
}

.www-page footer p, .teaser-page footer p {
    float: left;
    margin: 0;
    position: relative;
    top: -3px;
    color: #999996;
}

.teaser-page footer p {
    top: 0;
    padding-left: 20px;
}

footer ul {
    float: right;
    list-style: none;
}

.teaser-page footer ul {
    padding-right: 20px;
}

footer ul li {
    float: left;
    padding: 0 0 0 20px;
}

footer ul li a {
    font-weight: normal;
    color: #999996;
}

footer ul li a:hover {
    color: #333332;
}

.reset-page {
    background: #F1F1EC;
    font-size: 24px;
    color: #807F7D;
}

.reset-page .outer {
    display: table; 
    position: absolute; 
    height: 100%; 
    width: 100%;
}

.reset-page .middle {
    display: table-cell; 
    vertical-align: middle;
}

.reset-page .inner {
    width: 860px;
    margin: 0 auto 0 auto;
}

.reset-page .logo {
    width: 484px;
    float: left;
    border-right: 1px solid #D7D6D1;
    height: 350px;
}

.reset-page .logo img {
    width: 421px;
    height: 166px;
    position: relative;
    top: -25px;
}

.reset-page .form {
    width: 305px;
    float: left;
    border-left: 1px solid #fff;
    height: 350px;
    padding: 0 0 0 65px;
    display: table;
}

.reset-page .submit-reset-password {
    width: 280px;
    padding: 5px 35px;
}

.reset-page h1 {
    font-weight: 600;
    font-size: 32px;
    color: #807F7D;
}

.reset-page h1.success {
    background: url(images/success_icon.png) no-repeat 0 50%;
    padding: 50px 50px 50px 65px;
}

.reset-page form {
    margin-top: 10px;
}

.reset-page .error {
    color: #D55032;
}

.job-listing p, .job-listing ul, .job-listing h3 {
    margin-bottom: 10px;
    line-height: 1.5em;
}

.job-listing h3 {
    font-size: 1.3em;
}

.job-listing ul li {
    margin-left: 15px;
}

.job-listing h2 {
    text-align: center;
}

.job-listing a.viewall {
    margin-top: 20px;
    display: block;
    color: #333332;
    font-weight: bold;
}

.teaser-page {
    margin: 0;
    background: #00a47a;
    text-align: center;
}

.teaser-page .outer {
    background: url(images/static_bg.png) 50% 100% no-repeat;
    display: table; 
    position: absolute; 
    height: 100%; 
    width: 100%;
}

.teaser-page .middle {
    display: table-cell; 
    vertical-align: middle;
}

.teaser-page .inner p {
    padding: 40px 20px 0 20px;
}

ul.joblist li {
    margin-left: 30px;
}

.share-page {
    margin: 0 auto;
    background: #F1F1EC;
}

.share-page .card {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;                                                                                                                                                           
    position: absolute;
    top: 50%;
    margin-top: -335px;
    left: 50%;
    margin-left: -495px;
    padding: 23px 12px;
    width: 958px;
    height: 600px;
}

.share-page .card .video-container {
    background: #000;
    width: 600px;
    height: 600px;
    float: left;
    z-index: 999;
    position: absolute;
}

.share-page-card {
    overflow: hidden;
}

.share-page .card .video-container video {
    width: 600px;
    height: 600px;
}

.share-page .card .info {
    background: #fff;
    width: 300px;
    padding: 0 19px 0 40px;
    margin: 0 0 0 580px;
    float: left;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #D7D6D1;
    height: 598px;
    z-index: 0;
}

.share-page .card .user {
    border-bottom: 1px solid #D7D6D1;
}

.share-page .card .info .user .avatar {
    width: 50px;
    height: 50px;
    margin-top: 40px;
}

.share-page .card .info .user h2 {
    color: #333;
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin: 10px 0 40px 0;
    -webkit-font-smoothing: antialiased;
}

.share-page .card h1 {
    width: 300px;
    display: table;
    font-size: 31px;
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #D7D6D1;
    -webkit-font-smoothing: antialiased;
}

.share-page .card div.inner {
    display: table-cell;
    vertical-align: middle;
    width: 300px;
}

.share-page .card p {
    display: block;
    word-wrap: break-word;
    width: 300px;
}

.share-page .card .shot-with-vine {
    padding-top: 30px;
    height: 83px;
    padding-bottom: 40px;
    width: 300px;
}

.mute-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(volume.png);
}

.share-page-card .mute-button {
    bottom: auto;
    right: auto;
    top: 20px;
    left: 20px;
}

.mute-button.off {
    background-position: 40px 0px;
}

.mute-button.on {
    background-position: 0px 0px;
}

.not-found-page {
    background-image: none;
    background-color: #e3e3df;
    background-size: 100%;
}

.not-found-page .outer {
    background-image:none;
}

.not-found-page .inner {
    padding-bottom: 100px;
    color: #b0b0ab;
    font-size: 3em;
    -webkit-font-smoothing: antialiased;
}

.not-found-page.card .inner {
    padding-bottom: 0;
}

.not-found-page.card .inner {
    font-size: 28px;
}

.embed-page {
    background: #F1F1EC;
    font-size: 24px;
    color: #807F7D;
}

.embed-page header a {
    position: absolute;
    z-index: 999;
    top: 50px;
    padding: 10px;
    padding-left: 10px;
    font-weight: 400;
}

.embed-page h1 {
    font-size: 65px;
    color: #b1b0ad;
    padding: 20px;
    font-weight: 500;
    text-shadow: 0px 2px 0px #fff;
}

.embed-page .outer {
    display: table; 
    position: absolute; 
    height: 100%; 
    width: 100%;
}

.embed-page .inner {
    position: relative;
    width: 740px;
    padding: 20px 0 60px 0;
    margin: 0 auto 0 auto;
    text-align: center;
}

.embed-page .style-selector {
    margin-bottom: 10px;
}

.embed-page .style-selector a {
    display: inline-block;
    width: 320px;
    border: 1px solid #CACAC6;
    box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #fff;
    padding: 20px;
    border-radius: 10px;
    color: #b1b0ad;
    font-weight: 500;
    text-shadow: 0px 2px 0px #fff;
    font-size: 30px;
    margin-top: 20px;
}

.embed-page .style-selector a.simple {
    margin-right: 6px;
}

.embed-page .style-selector a.selected {
    background: #fff;
    color: #4D4C4B;
}

.embed-page .stage {
    border-radius: 10px;
    padding: 40px 0 20px 0;
}

.embed-page .size-selector {
    height: 60px;
}

.embed-page .size-selector a {
    display: block;
    float: left;
    color: #807F7D;
    width: 164px;
    margin-left: 0;
    padding: 10px 15px 10px 15px;
    border: 1px solid #CACAC6;
    box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #fff;
    font-weight: 500;
    color: #b1b0ad;
    text-shadow: 0px 2px 0px #fff;
}

.embed-page .size-selector a:nth-child(2) {
    border-right: none;
    border-radius: 10px 0px 0px 10px;
}

.embed-page .size-selector a:nth-child(4) {
    border-left: none;
    border-radius: 0px 10px 10px 0px;
}

.embed-page .size-selector span {
    display: block;
    padding: 10px 25px 0 10px;
    float: left;
    text-shadow: 0px 2px 0px #fff;
    color: #4d4c4b;
}

.embed-page .size-selector a.selected {
    background: #fff;
    color: #4D4C4B;
}

.embed-page .embed-code {
    margin: 30px 0 30px 0;
    display: block;
    padding: 10px;
    height: 76px;
    background: #fff;
    border: 2px solid #CACAC6;
    box-shadow: 0px 1px 0px #fff, inset 0px 1px 0px #fff;
    color: #4D4C4B;
    border-radius: 10px;
    width: 700px;
    font-size: 16px;
    resize: none;
    outline: none;
}

.share-options {
    position: absolute;
    z-index: 9999;
    text-align: center;
    width: 100%;
    top: 675px;
}

.share-options .pill {
    display: inline-block;
    background: #fff;
    padding: 0;
    border: 2px solid #e3e3df;
    border-radius: 5px;
}

.share-options .pill div {
    float: left;
    padding: 10px 15px 6px 15px;
    width: 70px;
    text-align: center;
}

.share-options .pill div:first-child {
    border-right: 1px solid #e3e3df;
}

.share-options .pill div.twitter {
    width: 75px;
}

/* High resolution displays */
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    
    .mute-button {
        background-image: url(images/volume_2x.png);
        background-size: 80px 40px;
    }

    input.password {
        background: #fff url(images/lock_icon_2x.png) no-repeat 10px;
        background-size: 11px 15px;
    }

    .reset-page h1.success {
        background: url(images/success_icon_2x.png) no-repeat 0 50%;
        background-size: 50px 50px;
    }

}   

/* Mobile devices */
@media screen and (max-width: 960px) {

    .hide-mobile {
        display: none;
    }

    .www-page .container {
        width: auto;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    .www-page h1 {
        font-size: 32px;
        margin: 0 0 10px 0;
    }

    .www-page h2 {
        font-size: 24px;
        margin: 30px 0 30px 0;
    }

    .www-page p {
        margin: 20px 0 0 0;
    }

    .www-page nav {
        width: auto;
        padding: 20px 0 0 0;
        float: none;
    }

    .www-page nav .logo {
        display: block;
        margin: 0;
        float: left;
    }

    .www-page nav .logo img {
        width: 80px;
        height: 80px;
    }

    .www-page nav ul {
        display: block;
        padding: 30px 0 0 0;
        float: right;
    }

    .www-page nav ul li {
        float: left;
        padding: 0 0 0 15px;
        margin: 0;
    }

    .www-page nav ul li a {
        padding: 0;
        display: block;
        width: auto;
    }

    .www-page #content {
        padding: 60px 0 40px 0;
        clear: right;
        width: auto;
        float: none;
    }

    .www-page footer p {
        float: none;
        margin: 0 0 3px 0;
    }

    .teaser-page footer p {
        display: none;
    }

    .www-page footer {
        height: 44px;
    }

    footer ul {
        float: none;
        list-style: none;
        display: inline-block;
    }

    footer ul li {
        float: left;
        padding: 0 8px 0 8px;
    }

    .teaser-page .outer {
        background: url(images/static_bg.png) 50% 100% no-repeat;
        background-position:center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .teaser-page footer p {
        top: 0;
        padding-left: 0;
    }


    .teaser-page footer ul {
        padding-right: 0;
    }

    .v-center-container {
        display: block;
    }

    .v-center {
        display: block;
        vertical-align: auto;
    }

    .reset-page {
        background: #F1F1EC;
        font-size: 24px;
        color: #807F7D;
    }

    .reset-page .outer {
        display: block;
        width: 100%;
        height: auto;
    }

    .reset-page .middle {
        display: block;
        width: 100%;
        height: auto;
    }

    .reset-page .inner {
        display: block;
        width: 100%;
        height: auto;
    }

    .reset-page .logo {
        width: auto;
        float: none;
        border-right: none;
        border-bottom: 1px solid #D7D6D1;
        height: auto;
        display: block;
        text-align: center;
        padding: 20px 0 20px 0;
    }

    .reset-page .logo img {
        display: inline-block;
        width: 200px;
        height: auto;
        position: auto;
        top: auto;
    }

    .reset-page .form {
        width: auto;
        height: auto;
        float: none;
        border-left: none;
        border-top: 1px solid #fff;
        padding: 20px;
        display: block;
        text-align: center;
    }

    .reset-page h1.success {
        background: url(images/success_icon_2x.png) no-repeat 0 50%;
        padding: 50px 0 50px 65px;
        display: inline-block;
        position: relative;
    }
    
    .teaser-page .inner {
        width: 320px;
        text-align: center;
        font-size: 36px;
        color: #fff;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
    }

    .not-found-page .inner {
        width: auto;
    }

    .teaser-page img {
        width: 240px;
        height: 88px;
    }

    .not-found-page img {
        width: 240px;
        height: 240px;
    }

    .not-found-page.card img {
        height: 200px;
        width: 200px;
    }

    .teaser-page .inner p {
        padding: 0;
        margin: 15px 15px 0 15px;
        font-size: 25px;
    }

    .not-found-page {
        background-image: none;
        background-color: #e3e3df;
        background-size: 100%;
    }

    .not-found-page.card {}

    .not-found-page .outer {
        background-image:none;
    }

    .not-found-page .inner {
        color: #b0b0ab;
        font-size: 3em;
        font-weight: 400;
    }

    .not-found-page.card .inner {
        padding-bottom: 0;
    }


    .share-page {
        background: white;
    }

    .share-page .card {
        background: #F1F1EC;
        width: 100%;
        height: 100%;
        position: static;
        top: 0;
        left: 0;
        margin: 0;
        padding: 10px 0 0 0;
    }

    .share-page .card .video-container {
        float: none;
        margin: 0 10px 10px 10px;
        padding: 0;
        position: relative;
        width: auto;
        height: auto;
    }

    .share-page .card .video-container video {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .share-page .card .info {
        background: none;
        border: none;
        border-radius: 0;
        float: none;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .share-page .card .user {
        height: auto;
        margin-top: 0;
    }

    .share-page .card .info .user .avatar {
        margin-top: 10px;
        width: 35px;
        height: 35px;
    }

    .share-page .card .info .user h2 {
        font-size: 16px;
        padding: 0;
        position: relative;
        margin: 5px 0 7px 5px;
    }

    .share-page .card .info h1 {
        height: auto !important;
        width: auto;
        font-size: 21px;
        text-shadow: 1px 1px #fff;
        border-bottom: none;
        margin: 0 auto;
        padding: 25px 0px;
    }

    .share-page .card h1 p {
        display: block;
        text-align: center;
    }

    .share-page .card .shot-with-vine {
        background: #fff;
        border-top: 1px solid #D7D6D1;
        margin: 0;
        height: 30px;
        width: auto;
        padding: 16px 0;
        position: relative;
    }

    .share-page .card .shot-with-vine img {
        display: block;
        width: 137px;
        height: 24px;
        position: absolute;
        left: 5%;
    }

    .action-button {
        font-size: 15px;
        padding: 5px 22px 6px 22px;
        border-width: 1px 1px 2px 1px;
        margin: 0 auto;
        position: absolute;
        right: 5%;
    }

    img.download-button {
        width: 146px;
        height: 43px;
    }

    img.android-download-button {
        width: 146px;
        height: auto;
    }

}
